
<html lang="en" ng-app="app" auth-control>
  <head>
    <title>Kickstarter V0.2.1</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="./assets/images/icons/favicon.ico" type="image/x-icon" />
  </head>

  <body layout="column" ng-cloak>

    <!-- Include panel left -->
    <ng-include ng-if="isLogged()"
                class="print-hide"
                ng-controller="MenuController as menu"
                src="'templates/common/menu/panelLeft.html'"></ng-include>

    <!-- ONLY TEMPLATES THAT NEED MAPS, ARE WRAPPED IN map-lazy-load (WARNING: npm install not available) -->
    <!--
    <div ng-if="isState([view-id])"
         map-lazy-load="https://maps.google.com/maps/api/js?libraries=places&key=AIzaSyDz9fJMRVwSygY3rJz4Cs7slNkx9CENclA"
         ng-class="sideNavIsOpen() ? 'not-scrollable' : 'overflow-y-scroll'">
      <div layout="column" flex ui-view="view-id"></div>
    </div>
    -->
    <div layout="column" flex ui-view ng-class="sideNavIsOpen() ? 'not-scrollable' : 'overflow-y-scroll'"></div>

    <script type="text/javascript" src="./assets/js/date.js"></script>
    <script type="text/javascript" src="./env.js"></script>
    <script type="text/javascript" src="./bundle.js"></script>
  </body>
</html>
