{{title=editadministrator.data.user_id ? 'Editar "' + editadministrator.data.username + '"' : 'Crear administrador';''}}

<!-- List view -->
<section layout="column">
  <!-- Toolbar -->
  <md-toolbar layout="row" ng-controller="MenuController as menu" ng-include="'templates/common/menu/toolBar.html'"></md-toolbar>
  
  <!-- List view -->
  <md-content layout-padding>
    
    <!-- Edit form -->
    <form class="edit-container" name="editadministrator.addForm" ng-submit="editadministrator.save(editadministrator.data)">
     
      <div class="md-dialog-content">
        <div layout layout-sm="column" layout-md="column">
          <md-input-container flex>
            <label>Nombre de usuario</label>
            <input focus-on="editadministratorController" name="username" required ng-model="editadministrator.data.username">
            <div ng-messages="editadministrator.addForm.username.$error" role="alert" multiple>
              <div ng-show="editadministrator.addForm.username.$error.required" ng-message="required">Requerido</div>
              <div ng-show="editadministrator.addForm.username.$error.unique" ng-message="required">El nombre de usuario ya existe</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Nombre</label>
            <input name="first_name" required ng-model="editadministrator.data.first_name">
            <div ng-messages="editadministrator.addForm.first_name.$error" role="alert" multiple>
              <div ng-show="editadministrator.addForm.first_name.$error.required" ng-message="required">Requerido</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Apellido</label>
            <input name="last_name" required ng-model="editadministrator.data.last_name">
            <div ng-messages="editadministrator.addForm.last_name.$error" role="alert" multiple>
              <div ng-show="editadministrator.addForm.last_name.$error.required" ng-message="required">Requerido</div>
            </div>
          </md-input-container>
        </div>
        
        <div layout layout-sm="column" layout-md="column">
          <md-input-container flex>
            <label>Email</label>
            <input required name="email" type="email" ng-model="editadministrator.data.email">
            <div ng-messages="editadministrator.addForm.email.$valid" role="alert" multiple>
              <div ng-show="editadministrator.addForm.email.$error.required" ng-message="required">Requerido</div>
              <div ng-show="editadministrator.addForm.email.$error.email" ng-message="pattern">El texto ingresado no es un email</div>
            </div>
          </md-input-container>
          
          <md-input-container style="display: none;" flex>
            <label>Tipo</label>
            <md-select disabled name="type" ng-model="editadministrator.data.type">
              <md-option value="admin" ng-selected="true">Administrador</md-option>
            </md-select>
          </md-input-container>
        </div>
      
        <md-button ng-show="editadministrator.data.user_id && !editadministrator.editPassword" ng-click="editadministrator.editPassword = true" class="md-raised">Editar clave</md-button>
        <md-button ng-show="editadministrator.data.user_id && editadministrator.editPassword" ng-click="editadministrator.editPassword = false" class="md-raised">Cerrar edición de clave</md-button>
        
        <div ng-show="editadministrator.editPassword" layout layout-sm="column" layout-md="column">     
          <md-input-container flex>
            <label>Clave</label>
            <input  type="password" 
                    name="password" 
                    ng-required="editadministrator.editPassword"
                    ng-minlength="4"
                    ng-change="editadministrator.passwordChange()" 
                    ng-model="editadministrator.data.password">
            <div ng-messages="editadministrator.addForm.password.$valid" role="alert" multiple>
              <div ng-show="editadministrator.addForm.password.$error.required" ng-message="required">Requerido</div>
              <div ng-show="editadministrator.addForm.password.$error.minlength" ng-message="minLength">La clave debe contener como mínimo 4 caracteres</div>
              <div ng-show="editadministrator.addForm.password.$error.equal" ng-message="equal">La clave ingresada no coincide</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Confirmación clave</label>
            <input  type="password" 
                    name="passwordConfirm" 
                    ng-required="editadministrator.editPassword"
                    ng-minlength="4"
                    ng-change="editadministrator.passwordConfChange()" 
                    ng-model="editadministrator.data.passwordConfirm">
            <div ng-messages="editadministrator.addForm.passwordConfirm.$valid" role="alert" multiple>
              <div ng-show="editadministrator.addForm.passwordConfirm.$error.required" ng-message="required">Requerido</div>
              <div ng-show="editadministrator.addForm.passwordConfirm.$error.minlength" ng-message="minLength">La clave debe contener como mínimo 4 caracteres</div>
              <div ng-show="editadministrator.addForm.passwordConfirm.$error.equal" ng-message="equal">La clave ingresada no coincide</div>
            </div>
          </md-input-container>
        </div>
        
      </div>
      
      <div layout="row">
        <span flex></span>
        <input name="area" required type="hiden" ng-show="false" ng-model="editadministrator.data.area">
        <input name="status" required type="hiden" ng-show="false" ng-model="editadministrator.data.status">
        <md-button type="submit" class="md-primary md-raised">
          Guardar
        </md-button>
        <md-button ui-sref="administrators" class="md-raised">
          Cancelar
        </md-button>
      </div>
      
    </form>
    
  </md-content>
  
</section>