{{title=example.title;''}}

 <section layout="column" style="background-color: black;" flex>
  <md-toolbar layout="row" ng-controller="MenuController as menu" ng-include="'templates/common/menu/toolBar.html'">
  </md-toolbar>
  <md-content style="margin-top:50px; background-color: black;" layout="column" layout-align="center center">
   <h1 style="color: white">Kickstarter V0.2.1 - EXAMPLE PAGE</h1>
    <img width="70%" src="/assets/images/logos/khemlabslogo.png">
  </md-content>
</section>
