<md-dialog aria-label="{{files.data.description}}" class="edition-form-container">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Imagen</h2>
      <span flex></span>
      <md-button type="button" class="md-icon-button" ng-click="files.cancel()"><i class="material-icons md-dark">close</i></md-button>
    </div>
  </md-toolbar>
  <md-progress-linear md-mode="determinate" value="{{files.bar}}"></md-progress-linear>
  <md-dialog-content ng-show="!files.uploading && !files.progress.running">
    <form name="files.uploadForm" class="margin-y-2">
      <label class="label-button" for="file">Seleccionar archivo</label>
      <input disabled type="text" ng-show="files.file" value="{{files.file.name}}">
      <input style="display: none;" type="file" ngf-select="files.selectFile()" ng-model="files.file" id="file" name="file"  name="file" >
      <md-button ng-show="files.file" type="submit" ng-click="files.upload()" class="md-raised md-primary">Subir</md-button>
    </form>
  </md-dialog-content>

  <md-dialog-content ng-show="!files.uploading && files.progress.running">
    <h3 class="margin-y-2">Cargando, por favor espere.</h3>
  </md-dialog-content>
  <md-dialog-content class="margin-left-1" ng-show="!files.progress.running && files.uploading">
    <h3 class="margin-y-2">Subiendo el archivo, por favor espere.</h3>
  </md-dialog-content>
</md-dialog>
