<md-dialog aria-label="Código QR" class="edition-form-container print-hide">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Código QR</h2>
      <span flex></span>
      <md-button type="button" class="md-icon-button" ng-click="qr.cancel()">
        <i class="material-icons md-dark">close</i>
      </md-button>
    </div>
  </md-toolbar> 
  
  <md-progress-linear ng-show="qr.generating" md-mode="indeterminate"></md-progress-linear>
  
  <div ng-show="qr.url && !qr.generating" layout="row">
    <div flex></div>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Descripción: {{qr.data.entity.description}}</span>
          <span class="md-subhead">Tipo: {{qr.data.type}}</span>
          <span class="md-subhead">Código (N° inventario): {{qr.data.entity.code}}</span>
          <span class="md-subhead" title="/qr/parse/{{qr.data.entity.qr}}">
            <a target="_blank" href="/qr/parse/{{qr.data.entity.qr}}">Dirección del código QR</a>
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="row" layout-align="space-between">
        <div class="md-media-xl card-media">
          <img width="100%" ng-src="{{qr.url}}"/>
        </div>
        <md-card-actions layout="column">
          <md-button ng-click="qr.generate(true)" class="md-icon-button" title="Regenerar" aria-label="Regenerar">
            <i class="material-icons md-dark">autorenew</i>
          </md-button>
          <md-button ng-click="qr.print()" class="md-icon-button" title="Imprimr" aria-label="Imprimr">
            <i class="material-icons md-dark">print</i>
          </md-button>
        </md-card-actions>
      </md-card-content>
    </md-card>
    <div flex></div>
  </div>
  
  <md-dialog-content ng-show="qr.generating">
    <h3 class="margin-y-2">Generando, por favor espere.</h3>
  </md-dialog-content>
  
</md-dialog>

<div style="display: none;" class="print-show">
  <img ng-src="{{qr.url}}"/>  
  <div style="padding-top: 1em;" flex layout="column">
    <span>{{qr.data.entity.description}} ({{qr.data.entity.code}})</span>
  </div>
</div>

