{{title=editrole.data.name ? 'Edit' : 'Create'; ''}}

<!-- List view -->
<section layout="column">
  <!-- Toolbar -->
  <md-toolbar layout="row" ng-controller="MenuController as menu" ng-include="'templates/common/menu/toolBar.html'"></md-toolbar>
  
  <!-- List view -->
  <md-content layout-padding>
    
    <!-- Edit form -->
    <form name="editrole.addForm" ng-submit="editrole.save(editrole.data)">
  
    <!-- Input's container -->
      <div class="md-dialog-content" layout="column">
        <div layout="column" flex>
          <!-- key input -->
          <md-input-container flex>
            <label>Nombre</label>
            <input focus-on="EditRoleController" name="name" required ng-model="editrole.data.name">
            <div ng-messages="editrole.addForm.name.$error" role="alert" multiple>
              <div ng-show="editrole.addForm.name.$error.required" ng-message="required">Requerido</div>
              <div ng-show="editrole.addForm.name.$error.unique" ng-message="unique">name ya existe</div>
            </div>
          </md-input-container>              
        </div>
        <!-- Reglas => type: (text)-->
        <div layout="column" flex ng-repeat="role in editrole.roles">
          <h2>{{role.title}}</h2>
          <div layout="row" flex>
            <div flex ng-repeat="action in role.actions">
              <md-checkbox ng-change="editrole.update(editrole.data.rules[role.name][action.name], action.rules)" 
                           ng-model="editrole.data.rules[role.name][action.name]" 
                           aria-label="{{editrole.actions[action.name]}}"/>
                {{editrole.actions[action.name]}}
            </div>
          </div>
        </div>
      </div>
      
      <!-- ASSOCIATIONS -->
      
      
      <!-- Footer -->
      <div layout="row">
        <span flex></span>
        <md-button type="submit" class="md-primary md-raised">
          Guardar
        </md-button>
        <md-button ui-sref="roles" class="md-raised">
          Cancelar
        </md-button>
      </div>

    </form>
  
  </md-content>
  
</section>