{{title=role.title;''}}

<!-- List view -->
<section layout="column" flex>
 
  <!-- Toolbar -->
  <md-toolbar layout="row" 
              ng-controller="MenuController as menu"
              ng-include="'templates/common/menu/toolBar.html'"></md-toolbar>
  
  <!-- List view -->
  <md-content layout="column" flex="100">
    
    <md-card>
      <!-- DEFAULT TABLE TOOLBAR -->
      <md-toolbar class="md-table-toolbar md-default" 
                  ng-hide="role.selected.length || role.filter.show">
        <div class="md-toolbar-tools">
          <h2 class="md-title">Listado</h2>
          <div flex></div>
          <md-button class="md-icon-button md-dark" ng-click="role.filter.show = true">
            <md-icon>search</md-icon>
          </md-button>
          <md-button ng-if="role.auth.create"
                     title="Crear" 
                     class="md-icon-button" 
                     ng-click="role.edit()">
            <i class="material-icons md-dark">add</i>
          </md-button>
        </div>
      </md-toolbar>
      <!-- SEARCH TABLE TOOLBAR -->
      <md-toolbar class="md-table-toolbar md-default" ng-show="role.filter.show && !role.selected.length">
        <div class="md-toolbar-tools">
          <md-icon>search</md-icon>
          <form flex name="role.form">
            <input class="padding-top-2"
                   type="text" 
                   ng-model="role.searchData.text" 
                   ng-enter="role.searchByText()"
                   placeholder="Buscar por cualquiera de los campos">
          </form>
          <md-button class="md-icon-button" ng-click="role.filter.show = false">
            <md-icon>close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <!-- ACTIONS TABLE TOOLBAR -->
      <md-toolbar class="md-table-toolbar alternate" ng-show="role.selected.length" >
        <div class="md-toolbar-tools" layout-align="space-between">
          <div class="padding-top-2" ng-show="role.selected.length==1">
            ({{role.selected[0].name}}) seleccionado
          </div>
          <div class="padding-top-2" ng-show="role.selected.length>1">
            {{role.selected.length}} seleccionados
          </div>
          <div>
            <md-button ng-if="role.auth.update"
                       title="Editar" 
                       ng-show="role.selected.length == 1"
                       class="md-icon-button" 
                       ng-click="role.edit(role.selected[0].role_id)">
              <i class="material-icons md-dark">edit</i>
            </md-button>
            <md-button ng-if="role.auth.delete"
                       title="Eliminar" 
                       class="md-icon-button" 
                       ng-click="role.delete($event)">
              <i class="material-icons md-dark">delete</i>
            </md-button>
          </div>
        </div>
      </md-toolbar>

      <!-- Table -->
      <md-table-container>
        <table md-table 
               md-row-select
               multiple
               ng-model="role.selected" 
               md-progress="role.deferred">
          <!-- Table header -->
          <thead md-head md-order="name" md-on-reorder="role.onOrderChange">
            <tr md-row>
              <th md-column md-order-by="element.name">Nombre</th>
            </tr>
          </thead>
          <!-- Table body -->
          <tbody md-body>
            <tr md-row
                md-auto-select 
                md-select="element"
                md-select-id="name"
                ng-disabled="!role.auth.update || element.name == 'superadmin' || element.name == 'admin' || element.name == 'readonly'"
                ng-repeat="element in role.elements">
              <td md-cell ng-bind="element.name"></td>
            </tr>
          </tbody>
        </table>
      </md-data-table-container>
      
    </md-card>
    
  </md-content>
  
</section>
