{{title=edituser.data.user_id ? 'Editar "' + edituser.data.username + '"' : 'Crear usuario';''}}

<!-- List view -->
<section layout="column">
  <!-- Toolbar -->
  <md-toolbar layout="row" ng-controller="MenuController as menu" ng-include="'templates/common/menu/toolBar.html'"></md-toolbar>
  
  <!-- List view -->
  <md-content layout-padding>
    
    <!-- Edit form -->
    <form class="edit-container" name="edituser.addForm" ng-submit="edituser.save(edituser.data)">
     
      <div class="md-dialog-content">
        <div layout layout-sm="column" layout-md="column">
          <md-input-container flex>
            <label>Nombre de usuario</label>
            <input focus-on="EditUserController" name="username" required ng-model="edituser.data.username">
            <div ng-messages="edituser.addForm.username.$error" role="alert" multiple>
              <div ng-show="edituser.addForm.username.$error.required" ng-message="required">Requerido</div>
              <div ng-show="edituser.addForm.username.$error.unique" ng-message="required">El nombre de usuario ya existe</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Nombre</label>
            <input name="first_name" required ng-model="edituser.data.first_name">
            <div ng-messages="edituser.addForm.first_name.$error" role="alert" multiple>
              <div ng-show="edituser.addForm.first_name.$error.required" ng-message="required">Requerido</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Apellido</label>
            <input name="last_name" required ng-model="edituser.data.last_name">
            <div ng-messages="edituser.addForm.last_name.$error" role="alert" multiple>
              <div ng-show="edituser.addForm.last_name.$error.required" ng-message="required">Requerido</div>
            </div>
          </md-input-container>
        </div>
        
        <div layout layout-sm="column" layout-md="column">
          <md-input-container flex>
            <label>Email</label>
            <input required name="email" type="email" ng-model="edituser.data.email">
            <div ng-messages="edituser.addForm.email.$valid" role="alert" multiple>
              <div ng-show="edituser.addForm.email.$error.required" ng-message="required">Requerido</div>
              <div ng-show="edituser.addForm.email.$error.email" ng-message="pattern">El texto ingresado no es un email</div>
            </div>
          </md-input-container>
          
          <md-input-container flex>
            <label>Rol</label>
            <md-select name="type" required ng-model="edituser.data.type">
              <md-option ng-value="type" ng-repeat="type in edituser.types">{{ type }}</md-option>
            </md-select>
            <div ng-messages="edituser.addForm.type.$error" role="alert" multiple>
              <div ng-show="edituser.addForm.type.$error.required" ng-message="required">Requerido</div>
            </div>
          </md-input-container>
        </div>
        
        <md-button ng-show="edituser.data.user_id && !edituser.editPassword" ng-click="edituser.editPassword = true" class="md-raised">Editar clave</md-button>
        <md-button ng-show="edituser.data.user_id && edituser.editPassword" ng-click="edituser.editPassword = false" class="md-raised">Cerrar edición de clave</md-button>
        
        <div ng-show="edituser.editPassword" layout layout-sm="column" layout-md="column">     
          <md-input-container flex>
            <label>Clave</label>
            <input  type="password" 
                    name="password" 
                    ng-required="edituser.editPassword"
                    ng-minlength="4"
                    ng-change="edituser.passwordChange()" 
                    ng-model="edituser.data.password">
            <div ng-messages="edituser.addForm.password.$valid" role="alert" multiple>
              <div ng-show="edituser.addForm.password.$error.required" ng-message="required">Requerido</div>
              <div ng-show="edituser.addForm.password.$error.minlength" ng-message="minLength">La clave debe contener como mínimo 4 caracteres</div>
              <div ng-show="edituser.addForm.password.$error.equal" ng-message="equal">La clave ingresada no coincide</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Confirmación clave</label>
            <input  type="password" 
                    name="passwordConfirm" 
                    ng-required="edituser.editPassword"
                    ng-minlength="4"
                    ng-change="edituser.passwordConfChange()" 
                    ng-model="edituser.data.passwordConfirm">
            <div ng-messages="edituser.addForm.passwordConfirm.$valid" role="alert" multiple>
              <div ng-show="edituser.addForm.passwordConfirm.$error.required" ng-message="required">Requerido</div>
              <div ng-show="edituser.addForm.passwordConfirm.$error.minlength" ng-message="minLength">La clave debe contener como mínimo 4 caracteres</div>
              <div ng-show="edituser.addForm.passwordConfirm.$error.equal" ng-message="equal">La clave ingresada no coincide</div>
            </div>
          </md-input-container>
        </div>
        
      </div>
      
       <div layout="row">
        <span flex></span>
        <input name="area" required type="hiden" ng-show="false" ng-model="edituser.data.area">
        <input name="status" required type="hiden" ng-show="false" ng-model="edituser.data.status">
        <md-button type="submit" class="md-primary md-raised">
          Guardar
        </md-button>
        <md-button ui-sref="users" class="md-raised">
          Cancelar
        </md-button>
      </div>
    
    </form>
    
  </md-content>
  
</section>