{{title=user.title;''}}

<section layout="column" flex>
 
  <!-- Toolbar -->
  <md-toolbar layout="row" 
              ng-controller="MenuController as menu"
              ng-include="'templates/common/menu/toolBar.html'"></md-toolbar>
  
  <md-content layout="column" flex="100">
    <md-card>
      <!-- DEFAULT TABLE TOOLBAR -->
      <md-toolbar class="md-table-toolbar md-default" ng-hide="user.selected.length || user.filter.show">
        <div class="md-toolbar-tools">
          <h2 class="md-title">Listado</h2>
          <div flex></div>
          <md-button class="md-icon-button md-dark" ng-click="user.filter.show = true">
            <md-icon>search</md-icon>
          </md-button>
          <md-button ng-if="user.auth.create"
                     title="Crear" 
                     class="md-icon-button" 
                     ng-click="user.edit()">
            <i class="material-icons md-dark">add</i>
          </md-button>
        </div>
      </md-toolbar>
      <!-- SEARCH TABLE TOOLBAR -->
      <md-toolbar class="md-table-toolbar md-default" ng-show="user.filter.show && !user.selected.length">
        <div class="md-toolbar-tools">
          <md-icon>search</md-icon>
          <form flex name="user.form">
            <input class="padding-top-2"
                   type="text" 
                   ng-model="user.searchData.text" 
                   ng-enter="user.searchByText()"
                   placeholder="Buscar por cualquiera de los campos">
          </form>
          <md-button class="md-icon-button" ng-click="user.filter.show = false">
            <md-icon>close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <!-- ACTIONS TABLE TOOLBAR -->
      <md-toolbar class="md-table-toolbar alternate" ng-show="user.selected.length" >
        <div class="md-toolbar-tools" layout-align="space-between">
          <div class="padding-top-2" ng-show="user.selected.length==1">
            ({{user.selected[0].first_name}} {{user.selected[0].last_name}}) seleccionado
          </div>
          <div class="padding-top-2" ng-show="user.selected.length>1">
            {{user.selected.length}} seleccionados
          </div>
          <div>
            <md-button ng-if="user.auth.update"
                       title="Editar" 
                       ng-show="user.selected.length == 1"
                       class="md-icon-button" 
                       ng-click="user.edit(user.selected[0].user_id)">
              <i class="material-icons md-dark">edit</i>
            </md-button>
            <md-button ng-if="user.auth.delete"
                       title="Eliminar" 
                       class="md-icon-button" 
                       ng-click="user.delete($event)">
              <i class="material-icons md-dark">delete</i>
            </md-button>
          </div>
        </div>
      </md-toolbar>
      <!-- DATA TABLE -->
      <md-table-container>
        <table md-table md-row-select multiple ng-model="user.selected" md-progress="user.deferred">
          <thead md-head md-order="username" md-on-reorder="user.onOrderChange">
            <tr md-row>
              <th md-column md-order-by="element.username">Nombre de usuario</th>
              <th md-column md-order-by="element.first_name">Nombre</th>
              <th md-column md-order-by="element.last_name">Apellido</th>
              <th md-column md-order-by="element.email">Email</th>
              <th md-column>Rol</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row
                md-auto-select 
                md-select="element"
                md-select-id="username"
                ng-disabled="!user.auth.update && !user.auth.delete"
                ng-repeat="element in user.elements">
              <td md-cell ng-bind="element.username"></td>
              <td md-cell ng-bind="element.first_name"></td>
              <td md-cell ng-bind="element.last_name"></td>
              <td md-cell ng-bind="element.email"></td>
              <td md-cell ng-bind="element.type"></td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-card>
  </md-content>
</section>
