/* Forms */

.edit-container{
  background: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.edition-form-container {
  min-width: 70% !important;
  max-height: 90% !important;
  //  max-height: 80%;
}

.form-container{
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.edition-list-container {
  max-height: 30em;
}
