/* Help */

.help-container>div{
  background-color: rgb(85,139,47);
  color: white;
}
.help-container>md-toolbar{
  background-color: white;
}
.help-container>md-toolbar>div>h3{
  color: black;
}
.file-error{
  background-color: white;
  color: red;
}
