/* Search */

.search-container {
  border: solid;
  border-color: rgb(0,150,136);
  border-radius: 1em;
  padding: 0.5em;
  margin: 0.5em;
}

.search-menu-title{
  background-color: #f6f6f6;
  cursor: pointer;
}
