/* Tables */

.table-header-toolbar {
  margin-top: 1em;
  margin-buttom: 1em;
}

.table-header-toolbar label {
  color: white !important;
}

.table-header {
  background-color: rgb(0,150,136);
  min-height: 2em;
  margin-top: 1em;
}
