<section layout="column" flex>
  <md-toolbar layout="row">
    <div flex></div>
    <md-button style="padding-top: 1em;" aria-label="Abrir menu" class="md-icon-button" ui-sref="root">
      <i class="material-icons">exit_to_app</i>
    </md-button>
  </md-toolbar>
  <div flex layout="colun" flex="70" layout-align="center center">
    <h1>Lo sentimos, la pantalla que usted está buscando no existe.</h1>
  </div>
</section>