@media (max-width: 959px){
  md-toast {
    width: 90%;
  }
}

@media (min-width: 960px) {
  .chart-consolidated {
    max-width: 500px;
  }
  .chart-line {
    max-width: 200px;
    margin-top: 2.5em;
  }
  .activity-description {
    margin-top: 40px;
    margin-left: 15px; 
  }
}

@media (max-width: 960px) {
  .chart-consolidated {
    margin-top: 2em;
  }
  .chart-line {
    margin-top: 2em;
  }
}

@media print {  
  .print-chart {
    margin-top: 2.5em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}