@media print {
  
  table { 
    table-layout:fixed;
    font-size: 6pt;
  }
  
  .md-data-table-container {
    overflow-x: visible;
  }
  
  header nav, footer {
    display: none;
  }
  
  .print-hide {
    display: none !important;
  }
  
  .print-show {
    overflow: auto;
    display: block !important;
  }
  
  html, body, div, section, md-content, md-tabs, md-tab, md-tab-body, md-content, md-toolbar, md-card { 
    display: block;
    width: auto; 
    height: auto;
    overflow: visible;
  }
  
  .break-before {
    page-break-before:always; 
    break-before: always;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  
  .break-after {
    page-break-after:always; 
    break-after: always;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  
  .avoid-break {
    page-break-inside: avoid;
    break-inside: avoid;
  }  
}

.print-table {
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0.5px solid black;
}