/* Images */

.load-image {
  cursor: pointer;
  width: 112px;
  height: 112px;
}

.image-list {
  width: 50px;
}

.image-container{
  height: 150px;
}
.image-visitor {
  width: 100px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.image-visitor-list {
  width: 100px;
}

.image-preview {
  width: 400px;
}

.line-image-list{
  cursor: pointer;
}
.line-image-list:hover{
  border-color: yellowgreen;
  border-style: solid;
  border-radius: 0.5em;
  border-width: 0.3em;
}
.line-image-selected{
  border-color: skyblue;
  border-style: solid;
  border-radius: 0.5em;
  border-width: 0.3em;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}
