/* Margins */

.margin-left-1{
  margin-left: 0.5em;
}
.margin-left-2{
  margin-left: 1em;
}
.margin-left-3{
  margin-left: 1.5em;
}
.margin-left-4{
  margin-left: 2em;
}
.margin-y-1{
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.margin-y-2{
  margin-left: 1em;
  margin-right: 1em;
}
.margin-y-3{
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.margin-y-4{
  margin-left: 2em;
  margin-right: 2em;
}
.margin-top-1{
  margin-top: 0.5em;
}
.margin-top-2{
  margin-top: 1em;
}
.margin-top-3{
  margin-top: 1.5em;
}
.margin-top-4{
  margin-top: 2em;
}

/* Paddings */

.padding-left-1{
  padding-left: 0.5em;
}
.padding-left-2{
  padding-left: 1em;
}
.padding-left-3{
  padding-left: 1.5em;
}
.padding-left-4{
  padding-left: 2em;
}
.padding-y-1{
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.padding-y-2{
  padding-left: 1em;
  padding-right: 1em;
}
.padding-y-3{
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.padding-y-4{
  padding-left: 2em;
  padding-right: 2em;
}
.padding-top-1{
  padding-top: 0.5em;
}
.padding-top-2{
  padding-top: 1em;
}
.padding-top-3{
  padding-top: 1.5em;
}
.padding-top-4{
  padding-top: 2em;
}