/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  margin: auto;
  font-size: 1.250em;
  font-weight: 400;
}

md-bottom-sheet  md-icon {
  margin-right:20px;
}

/* md-toast */

md-toast {
  margin-left: auto;
  margin-right: auto;
  left: 5%;
  right: 5%;
  text-align: center;
}
