<div flex layout layout-align="center center">
  <h1>{{lo.title}}</h1>
  <md-card flex="40">
    <md-card-content flex="100">
      <md-input-container flex="100" layout="row">
        <label>Nombre de usuario</label>
        <input name="username" required ng-model="login.loginData.username" >
        <div ng-messages="lo.loginForm.username.$error" role="alert" multiple>
          <div ng-show="lo.loginForm.username.$error.required" ng-message="required">Requerido</div>
        </div>
      </md-input-container>
      <md-input-container flex="100" layout="row">
        <label>Clave</label>
        <input type="password" name="password" required ng-model="login.loginData.password">
        <div ng-messages="lo.loginForm.password.$error" role="alert" multiple>
          <div ng-show="lo.loginForm.password.$error.required" ng-message="required">Requerido</div>
        </div>
      </md-input-container>
      <div class="md-actions" layout="row">
        <span flex="80"></span>
        <md-button class="md-raised" ng-click="login.send()">Ingresar</md-button>
      </div>
    </md-card-content>
  </md-card>
</div>
  