<md-sidenav   layout="column"
              class="md-sidenav-left md-whiteframe-z2" 
              md-component-id="panel-menu">
              <!--md-is-locked-open="$mdMedia('gt-md')-->
  <md-toolbar layout-align="center center">
    <div class="md-toolbar-tools">
      <span flex></span>
      <h2>Menu</h2>
      <span flex></span>
      <md-button type="button" class="md-icon-button" ng-click="menu.close()">
        <i class="material-icons">close</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-padding flex ng-controller="MenuController as menu">
    <p>
      <!-- Menu elements -->
      <md-menu-item ng-repeat="element in menu.auth" ng-show="element.show">
        <md-button ui-sref="{{element.alias}}">
          <md-icon md-menu-align-target></md-icon>
          {{element.name}}
        </md-button>
      </md-menu-item>
      <!-- EXIT -->
      <md-menu-item>
        <md-button ui-sref="logout">
          <md-icon md-menu-align-target></md-icon>
          Salir 
        </md-button>
      </md-menu-item>
    </p>
  </md-content>
</md-sidenav>