<md-button aria-label="Abrir menu" 
           class="md-icon-button print-hide" 
           ng-click="menu.openPanelMenu()">
           <!--hide-gt-md-->
  <md-icon md-svg-icon="/assets/images/svg/menu.svg"></md-icon>
</md-button>
<h1 class="print-hide">{{title}}</h1>