{{title=<%=editName%>.data.<%=key%> ? 'Edit' : 'Create'; ''}}

<!-- List view -->
<section layout="column">
  <!-- Toolbar -->
  <md-toolbar layout="row" ng-controller="MenuController as menu" ng-include="'templates/common/menu/toolBar.html'"></md-toolbar>
  
  <!-- List view -->
  <md-content layout-padding>
    
    <!-- Edit form -->
    <form class="form-container" 
          name="<%=editName%>.addForm" 
          ng-submit="<%if(associations && associations.length){%><%=editName%>.checkRequiredAssociations() && <%}%><%=editName%>.save(<%=editName%>.data)">
  
    <!-- Input's container -->
      <div class="md-dialog-content" layout="column">
        <div layout="column" flex>
          <!-- key input -->
          <md-input-container flex>
            <label><%=keyName%></label>
            <input focus-on="<%=editControllerName%>" name="<%=key%>" required ng-model="<%=editKey%>">
            <div ng-messages="<%=editName%>.addForm.<%=key%>.$error" role="alert" multiple>
              <div ng-show="<%=editName%>.addForm.<%=key%>.$error.required" ng-message="required">Requerido</div>
              <div ng-show="<%=editName%>.addForm.<%=key%>.$error.unique" ng-message="unique"><%=key%> ya existe</div>
            </div>
          </md-input-container>              
        </div>
        <% _.each(columns, function(column){ if (!column.hide) { %><!-- <%=column.name%> => type: (<%=column.type%>)-->
        <div layout="column" flex ng-show="true <% if(column.showIf && column.showIf.length) { %><% _.each(column.showIf, function(showif){ %>&& (<% if(showif.notEmpty && showif.value) { %> <%=editName%>.data.<%=showif.key%> && <%=editName%>.data.<%=showif.key%> == '<%=showif.value%>'<% } else if (showif.notEmpty) { %> <%=editName%>.data.<%=showif.key%><% } else if (showif.value) { %> <%=editName%>.data.<%=showif.key%> == '<%=showif.value%>'<% } %>)<% }) %><% } %>">
          <% if (column.type == 'text' || column.type == 'number') { %>  <md-input-container flex>
            <label><%=column.name%></label>
            <input type="<%=column.type%>"  name="<%=column.key%>" <%if(column.required){%>required<%}%> ng-model="<%=editName%>.data.<%=column.key%>">
          <% } else if (column.type == 'select') { %> <md-input-container flex>
            <label><%=column.name%></label>
            <md-select name="<%=column.key%>"<%if(column.required){%>required<%}%> ng-model="<%=editName%>.data.<%=column.key%>">
               <md-option value="">Seleccione un elemento</md-option>
            <% var list = column.list || []; _.each(list, function(element){ %>
              <md-option value="<%=element.value%>"><%=element.key%></md-option>
            <% }); %>
            </md-select>
          <% } else if (column.type == 'checklist') { %>  <md-input-container flex>
            <span>TODO</span>
          <% } else if (column.type == 'date') { %>  
          <md-input-container flex>
            <label><%=column.name%></label>
          </md-input-container>
          <md-datepicker  class="margin-top-2" <%if(column.required){%>required<%}%>
                          name="<%=column.key%>"
                          ng-model="<%=editName%>.data.<%=column.key%>"
                          md-placeholder="Seleccionar">
          </md-datepicker><% } %>
          <% if (column.type == 'date') { %><md-input-container flex><%}%>
           
           <% if (column.required || column.unique) { %><div <% if (column.type == 'string' || column.type == 'number') { %>ng-messages="<%=editName%>.addForm.<%=column.key%>.$error"<%}%> role="alert" multiple>
            <% if (column.required) { %><div ng-show="(<%=editName%>.addForm.<%=column.key%>.$dirty || <%=editName%>.addForm.$submit) && <%=editName%>.addForm.<%=column.key%>.$error.required" ng-message="required">Requerido</div><%}%>
            <% if (column.unique) { %><div ng-show="(<%=editName%>.addForm.<%=column.key%>.$dirty || <%=editName%>.addForm.$submit) && <%=editName%>.addForm.<%=column.key%>.$error.unique" ng-message="unique"><%=column.key%> ya existe</div><%}%>
          </div><%}%>
        </md-input-container> 
        </div>
        <% } %><% }); %>
      </div>
      
      <!-- ASSOCIATIONS -->
      <% _.each(associations, function(association){ %><!--<%=association.singleName%>: <%=association.type%>-->
      <% if (association.type == 'list') { %><div <% if(association.showIf && association.showIf.length) { %>ng-show="true <% _.each(association.showIf, function(showif){ %>&& <% if(showif.notEmpty && showif.value) { %> <%=editName%>.data.<%=showif.key%> && <%=editName%>.data.<%=showif.key%> == '<%=showif.value%>'<% } else if (showif.notEmpty) { %> <%=editName%>.data.<%=showif.key%><% } else if (showif.value) { %> <%=editName%>.data.<%=showif.key%> == '<%=showif.value%>'<% } %><% }) %>"<% } %> <% if(association.required) { %>ng-class='{"required-error-container": <%=editName%>.requiredAssociations.<%=association.pluralNameCap%>.dirty && <%=editName%>.requiredAssociations.<%=association.pluralNameCap%>.error}'<% } %> layout="column">
        <div layout=row>
          <h2 class="md-title"><%=association.title%> <% if (association.required) { %><span class="required-error-title">*</span><% } %></h2>
          <div flex></div>
          <md-button title='Quitar' 
                     type="button" 
                     class="md-icon-button"
                     ng-show="<%=editName%>.<%=association.pluralName%>Selected.length"
                     ng-click="<%=editName%>.removeAssociations(
                       <%=editName%>,
                       '<%=association.pluralName%>Selected',
                       '<%=association.pluralNameCap%>', 
                       '<%=association.id%>'
                     )">
            <i class="material-icons md-dark">delete</i>
          </md-button>
          <md-button   title='Agregar' 
                       type="button" 
                       class="md-icon-button"
                       ng-hide="<%=editName%>.<%=association.pluralName%>Selected.length || !<%=editName%>.showList<%=association.pluralNameCap%> || <%=editName%>.showAdd<%=association.singleNameCap%>"
                       ng-click="<%=editName%>.showAdd<%=association.singleNameCap%>=true">
              <i class="material-icons md-dark">add</i>
          </md-button>
          <md-button title='Abrir/Cerrar' 
                     type="button" 
                     class="md-icon-button" 
                     ng-click="<%=editName%>.showList<%=association.pluralNameCap%>=!<%=editName%>.showList<%=association.pluralNameCap%>">
            <i class="material-icons md-dark">code</i>
          </md-button>
        </div>
        <div ng-show="<%=editName%>.showList<%=association.pluralNameCap%>">
          <!-- Select element container -->
          <div ng-show="<%=editName%>.showAdd<%=association.singleNameCap%>" layout="row" ng-cloak>
            <div flex layout="column">
              <md-content class="md-padding" 
                          flex
                          style="max-height: 20%"
                          ng-controller="<%=association.singleNameCap%>Controller as <%=association.singleName%>">
                <div>
                  <md-autocomplete
                      ng-disabled="<%=association.singleName%>.isDisabled"
                      md-no-cache="ctrl.noCache"

                      md-selected-item="<%=editName%>.selected<%=association.singleNameCap%>"
                      md-item-text="selected.<%=association.key%>"
                      md-items="selected in <%=association.singleName%>.searchForAutocomplete(
                        '<%=association.id%>',
                        <%=editName%>.data.<%=association.pluralNameCap%>
                      )"

                      md-search-text="<%=association.singleName%>.searchData.text"
                      md-selected-item-change="<%=editName%>.addAssociation(
                        <%=association.singleName%>.searchData,
                        <%=editName%>.selected<%=association.singleNameCap%>,
                        <%=association.singleName%>.clearAutocomplete,
                        '<%=association.pluralNameCap%>',
                        '<%=association.id%>'
                      )"

                      md-min-length="0"
                      placeholder="Seleccionar un elemento"
                      md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                      <span class="item-title">
                        <span> {{selected.<%=association.key%>}} </span>
                      </span>
                    </md-item-template>
                  </md-autocomplete>
                </div>
              </md-content>
            </div>
            <md-button title='Cerrar' 
                       type="button" 
                       class="md-icon-button" 
                       ng-show="<%=editName%>.showAdd<%=association.singleNameCap%>" 
                       ng-click="<%=editName%>.showAdd<%=association.singleNameCap%>=false">
                <i class="material-icons md-dark">close</i>
            </md-button>
          </div>
          <!-- Table list -->
          <md-divider ng-hide="<%=editName%>.data.<%=association.pluralNameCap%>.length"></md-divider>
          <div ng-hide="<%=editName%>.data.<%=association.pluralNameCap%>.length">
            <h3 style="margin-left: 1.5em">Sin elementos asociados</h3>
          </div>
          <md-table-container ng-show="<%=editName%>.data.<%=association.pluralNameCap%>.length">
            <table md-table md-row-select ng-model="<%=editName%>.<%=association.pluralName%>Selected">
              <thead md-head md-order="<%=association.key%>" md-on-reorder="<%=editName%>.onOrderChangeSubassemblies"></thead>
              <tbody md-body>
                <tr md-row
                    md-auto-select 
                    md-select="<%=association.singleName%>"
                    md-select-id="<%=association.key%>"
                    ng-repeat="<%=association.singleName%> in <%=editName%>.data.<%=association.pluralNameCap%>">
                  <td md-cell>{{<%=association.singleName%>.<%=association.key%>}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </div>
      </div><% } else if (association.type == 'input') {%><div ng-show="!<%=editName%>.show<%=association.pluralNameCap%>List <% if(association.showIf && association.showIf.length) { %><% _.each(association.showIf, function(showif){ %>&& (<% if(showif.notEmpty && showif.value) { %> <%=editName%>.data.<%=showif.key%> && <%=editName%>.data.<%=showif.key%> == '<%=showif.value%>'<% } else if (showif.notEmpty) { %> <%=editName%>.data.<%=showif.key%><% } else if (showif.value) { %> <%=editName%>.data.<%=showif.key%> == '<%=showif.value%>'<% } %>)<% }) %><% } %>" <% if(association.required) { %>ng-class='{"required-error-container": <%=editName%>.requiredAssociations.<%=association.singleNameCap%>.dirty && <%=editName%>.requiredAssociations.<%=association.singleNameCap%>.error <% _.each(association.showIf, function(showif){ %>&& (<% if(showif.notEmpty && showif.value) { %> <%=editName%>.data.<%=showif.key%> && <%=editName%>.data.<%=showif.key%> == "<%=showif.value%>"<% } else if (showif.notEmpty) { %> <%=editName%>.data.<%=showif.key%><% } else if (showif.value) { %> <%=editName%>.data.<%=showif.key%> == "<%=showif.value%>"<% } %>)<% }) %>}'<% } %>>
        <md-table-toolbar layout="row">
          <h2 class="md-title"><%=association.singleNameCap%> (<span ng-show="!<%=editName%>.data.<%=association.singleNameCap%>">No asociado</span><span ng-show="<%=editName%>.data.<%=association.singleNameCap%>">{{<%=editName%>.data.<%=association.singleNameCap%>.<%=association.key%>}}</span>) <% if (association.required) { %><span class="required-error-title">*</span><% } %></h2>
          <div flex></div>
          <md-button title='Agregar' type="button" ng-hide="<%=editName%>.showAdd<%=association.singleNameCap%>" class="md-icon-button" ng-click="<%=editName%>.showAdd<%=association.singleNameCap%> = true">
            <i class="material-icons md-dark">add</i>
          </md-button>
          <md-button title='Cerrar' type="button" ng-show="<%=editName%>.showAdd<%=association.singleNameCap%>" class="md-icon-button" ng-click="<%=editName%>.showAdd<%=association.singleNameCap%> = false">
            <i class="material-icons md-dark">close</i>
          </md-button>
        </md-table-toolbar>
        <!-- SELECT element container -->
        <div ng-show="<%=editName%>.showAdd<%=association.singleNameCap%>" layout="column" ng-cloak>
          <md-content class="md-padding" ng-controller="<%=association.singleNameCap%>Controller as <%=association.singleName%>">
            <div>
              <md-autocomplete
                  ng-disabled="<%=association.singleName%>.isDisabled"
                  md-no-cache="ctrl.noCache"

                  md-selected-item="<%=editName%>.selected<%=association.singleNameCap%>"
                  md-item-text="selected.<%=association.key%>"
                  md-items="selected in <%=association.singleName%>.searchForAutocomplete(
                    '<%=association.id%>',
                    []
                  )"

                  md-search-text="<%=association.singleName%>.searchData.text"
                  md-selected-item-change="<%=editName%>.setAssociation(
                    <%=association.singleName%>.searchData,
                    <%=editName%>.selected<%=association.singleNameCap%>,
                    '<%=association.singleNameCap%>',
                    '<%=association.id%>'
                  )"

                  md-min-length="0"
                  placeholder="Seleccionar un elemento"
                  md-menu-class="autocomplete-custom-template">
                <md-item-template>
                  <span class="item-title">
                    <span> {{selected.<%=association.key%>}} </span>
                  </span>
                </md-item-template>
              </md-autocomplete>
            </div>
          </md-content>
        </div>
      </div>      
      <% } %> <% if (association.required) { %><md-input-container ng-show="<%=editName%>.requiredAssociations.<%=association.singleNameCap%>.dirty && <%=editName%>.requiredAssociations.<%=association.singleNameCap%>.error <% _.each(association.showIf, function(showif){ %>&& (<% if(showif.notEmpty && showif.value) { %> <%=editName%>.data.<%=showif.key%> && <%=editName%>.data.<%=showif.key%> == '<%=showif.value%>'<% } else if (showif.notEmpty) { %> <%=editName%>.data.<%=showif.key%><% } else if (showif.value) { %> <%=editName%>.data.<%=showif.key%> == '<%=showif.value%>'<% } %>)<% }) %>" class="margin-left-3 required-error-message">
        <span>Requerido</span>
      </md-input-container><% } %>
      <% }); %>
      
      <!-- Footer -->
      <div layout="row">
        <span flex></span>
        <md-button type="submit" class="md-primary md-raised">
          Guardar
        </md-button>
        <md-button ui-sref="<%=pluralName%>" class="md-raised">
          Cancelar
        </md-button>
      </div>

    </form>
  
  </md-content>
  
</section>