<md-dialog aria-label="Importar" 
           class="edition-form-container" 
           focus-on="<%= importControllerName %>" 
           ng-focus="<%= importName %>.progress.setParentFromEvent($event)">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Importar</h2>
      <span flex></span>
      <md-button type="button" class="md-icon-button" ng-click="<%= importName %>.cancel()"><i class="material-icons md-dark">close</i></md-button>
    </div>
  </md-toolbar>
  <md-progress-linear ng-show="<%= importName %>.uploading" md-mode="indeterminate"></md-progress-linear>
  <md-dialog-content ng-show="!<%= importName %>.uploading && !<%= importName %>.progress.running" class="margin-top-1 margin-y-2">
    <form name="<%= importName %>.uploadForm" class="margin-y-2">
      <label class="label-button" for="file">Seleccionar archivo</label>
      <input disabled type="text" ng-show="<%= importName %>.file" value="{{<%= importName %>.file.name}}">
      <input style="display: none;" type="file" ngf-select="<%= importName %>.selectFile()" ng-model="<%= importName %>.file" id="file" name="file" ngf-pattern="'*.csv'" accept="csv" name="file" accept=".csv">
      <md-button ng-show="<%= importName %>.file" type="submit" ng-click="<%= importName %>.uploadFile()" class="md-raised md-primary">Subir</md-button>
    </form>
    
    <div ng-show="<%= importName %>.errorUnique" class="file-error">
      La entidad ({{<%= importName %>.errorUnique}}) ya existe en el sistema.
    </div>
    <div ng-show="<%= importName %>.errorColumns" class="file-error">
      Las siguientes columnas ({{<%= importName %>.errorColumns}}) no fueron encontradas en el documento.
    </div>
    <div ng-show="<%= importName %>.errorFileType" class="file-error">
      Hubo un error al subir el archivo, el formato no es válido, por favor suba un archivo de extensión csv.
    </div>
    <div ng-show="<%= importName %>.fileNotUploaded" class="file-error">
      Hubo un error al subir el archivo, el servidor no recibió ningún archivo.
    </div>
    <div ng-show="<%= importName %>.errorEmpty" class="file-error">
      La siguiente columna ({{<%= importName %>.errorEmpty}}) se encuentra vacia.
    </div>
    <div ng-show="<%= importName %>.errorValidations" class="file-error">
      La siguiente columna ({{<%= importName %>.errorValidations}}) no posee un formato válido.
    </div>
    <div ng-show="<%= importName %>.errorEntity" class="file-error">{{<%= importName %>.errorEntity}}</div>
    <div ng-show="<%= importName %>.errorUpload" class="file-error">
      Hubo un error al importar los datos, por favor lea el sector de ayuda para detectar el posible problema.
    </div>
      
    <section class="help-container md-whiteframe-z1">
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <h3 class="ng-binding">Ayuda</h3>
          <span class="flex"></span>
          <md-button type="button" class="md-icon-button" ng-click="<%= importName %>.showCsvData=<%= importName %>.showCsvData?false:true">
            <i ng-show="<%= importName %>.showCsvData" class="material-icons md-dark">close</i>
            <i ng-show="!<%= importName %>.showCsvData" class="material-icons md-dark">add</i>
          </md-button>
        </div>
      </md-toolbar>
      
      <div ng-show="<%= importName %>.showCsvData" layout="column" class="layout-fill layout-margin layout-padding ng-scope">
        <div class="flex">
          <h3>Archivo CSV</h3>
          <p>
          El archivo debe poseer la extensión csv (comma-separated-values o valores separados por coma). Este archivo puede ser generado con cualquier programa de hojas de cálculo (Google Drive, Microsoft Office, Libre Office, etc).
          </p>
          <md-button ng-csv="<%= importName %>.getCsvValues()" csv-header="<%= importName %>.getCsvHeader()" filename="<%= importName %>.csv" class="md-raised">Descargar ejemplo de estructura de archivo</md-button>
          <h3>Información a tener en cuenta</h3>
          <ul>
            <li>El archivo no puede tener más de una planilla, si la posee, sólo se debe exportar la primera.</li>
            <li>Se deben respetar los nombres de las columnas.</li>
            <li>El orden de las columnas NO es importante.</li>
            <li>Todas las columnas obligatorias deben existir y poseer los valores cargados</li>
            <li>Aquellas columnas que sean opcionales pueden no existir o ser dejadas en blanco.</li>
            <li>Las fechas deben ir en el siguiente formato: AAAA-MM-DD (ejemplo: 2016-11-25)</li>
            <li>En el caso de importar componentes se debe ingresar únicamente el código del mismo y la cantidad a asignar</li>
            <li>En el caso de importar piezas se deben ingresar todas las columnas obligatorias de las mismas</li>
            <li>
                NO se crearán nuevos componentes por lo que los componentes a utilizar deben existir 
                y deben poseer la cantidad necesaria para realizar la importación
            </li>
          </ul>
          <h3>Columnas</h3>
          <ul>
            <li ng-repeat="column in <%= importName %>.csvColumns">{{column.description}}<span ng-if="column.required">(obligatoria)</span></li>
          </ul>
        </div>
      </div>
    </section>
  </md-dialog-content>
  
  <md-dialog-content ng-show="!<%= importName %>.uploading && <%= importName %>.progress.running">
    <h3 class="margin-y-2">Importando, por favor espere.</h3>
  </md-dialog-content>
  <md-dialog-content class="margin-left-1" ng-show="!<%= importName %>.progress.running && <%= importName %>.uploading">
    <h3 class="margin-y-2">Subiendo el archivo, por favor espere.</h3>
  </md-dialog-content>
</md-dialog>