{{title=<%=singleName%>.title;''}}

<!-- List view -->
<section layout="column" flex>
 
  <!-- Toolbar -->
  <md-toolbar layout="row" 
              ng-controller="MenuController as menu" 
              ng-include="'templates/common/menu/toolBar.html'"></md-toolbar>
  
  <!-- List view -->
  <md-content layout="column" flex="100">
    <md-card> 
      <!-- DEFAULT TABLE TOOLBAR -->
      <md-toolbar class="md-table-toolbar md-default" ng-hide="<%=singleName%>.selected.length || <%=singleName%>.filter.show">
        <div class="md-toolbar-tools">
          <h2 class="md-title">Listado</h2>
          <div flex></div>
          <md-button class="md-icon-button" ng-click="<%=singleName%>.filter.show = true">
            <md-icon>search</md-icon>
          </md-button>
          <md-button <% if (auth) { %>ng-if="<%=singleName%>.auth.create" <% } %>
                     title="Crear" 
                     class="md-icon-button" 
                     ng-click="<%=singleName%>.edit()">
            <i class="material-icons md-dark">add</i>
          </md-button>
          <% if (importCode) { %><md-button <% if (auth) { %>ng-if="<%=singleName%>.auth.create" <% } %>
                     title="Importar" 
                     class="md-icon-button" 
                     ng-click="<%=singleName%>.import($event)">
            <i class="material-icons md-dark">file_upload</i>
          </md-button><% } %>
        </div>
      </md-toolbar>
      <!-- SEARCH TABLE TOOLBAR -->
      <md-toolbar class="md-table-toolbar md-default" ng-show="<%=singleName%>.filter.show && !<%=singleName%>.selected.length">
        <div class="md-toolbar-tools">
          <md-icon>search</md-icon>
          <form flex name="<%=singleName%>.form">
            <input class="padding-top-2"
                   type="text" 
                   ng-model="<%=singleName%>.searchData.text" 
                   ng-enter="<%=singleName%>.searchByText()" 
                   placeholder="Buscar por cualquiera de los campos">
            </input>
          </form>
          <md-button class="md-icon-button" ng-click="<%=singleName%>.filter.show = false">
            <md-icon>close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <!-- ACTIONS TABLE TOOLBAR -->
      <md-toolbar class="md-table-toolbar alternate" ng-show="<%=singleName%>.selected.length">
        <div class="md-toolbar-tools" layout-align="space-between">
          <div class="padding-top-2" ng-show="<%=singleName%>.selected.length==1">
            ({{<%=singleName%>.selected[0].<%=key%>}}) seleccionado
          </div>
          <div class="padding-top-2" ng-show="<%=singleName%>.selected.length>1">
            {{<%=singleName%>.selected.length}} seleccionados
          </div>
          <div>
            <md-button <% if (auth) { %>ng-if="<%=singleName%>.auth.update" <% } %>
                       title="Editar" 
                       ng-show="<%=singleName%>.selected.length == 1" 
                       class="md-icon-button" 
                       ng-click="<%=singleName%>.edit(<%=singleName%>.selected[0].<%=id%>)">
              <i class="material-icons md-dark">edit</i>
            </md-button>
            <md-button <% if (auth) { %>ng-if="<%=singleName%>.auth.delete" <% } %>
                       title="Eliminar" 
                       class="md-icon-button" 
                       ng-click="<%=singleName%>.delete($event)">
              <i class="material-icons md-dark">delete</i>
            </md-button>
          </div>
        </div>
      </md-toolbar>
      <!-- DATA TABLE -->
      <md-table-container>
        <table md-table 
               md-row-select
               multiple
               ng-model="<%=singleName%>.selected" 
               md-progress="<%=singleName%>.deferred">
          <!-- Table header -->
          <thead md-head md-order="<%=key%>" md-on-reorder="<%=singleName%>.onOrderChange">
            <tr md-row>
              <th md-column md-order-by="element.<%=key%>"><%=keyName%></th>
              <% _.each(columns, function(column){ %><% if (!column.hide) { %><th md-column md-order-by="element.<%=column.key%>"><%=column.name%></th><% } %><% }); %>
            </tr>
          </thead>
          <!-- Table body -->
          <tbody md-body>
            <tr md-row
                md-auto-select 
                md-select="element"
                md-select-id="<%=key%>"
                <% if (auth) { %>ng-disabled="!<%=singleName%>.auth.update" <% } %>
                ng-repeat="element in <%=singleName%>.elements">
              <td md-cell>{{element.<%=key%>}}</td>
              <% _.each(columns, function(column){ %><% if (!column.hide) { %><td md-cell><% if (column.type=='date') { %><md-datepicker ng-model="element.<%=column.key%>" disabled></md-datepicker><% } else if (column.type!='date') { %>{{element.<%=column.key%>}}<% } %></td><% } %>
              <% }); %>
            </tr>
          </tbody>
        </table>
      </md-table-container>      
    </md-card>
  </md-content>
  
</section>
