<section layout="column" flex>
  <md-toolbar layout="row">
    <div flex></div>
    <md-button style="padding-top: 1em;" aria-label="Abrir menu" class="md-icon-button" ui-sref="home">
      <i class="material-icons">exit_to_app</i>
    </md-button>
  </md-toolbar>
  <div flex layout="column" flex="70" layout-align="center center">
    <h1>No posee permisos para ingresar a esta pantalla.</h1>
  </div>
</section>